Discord_API_KEY_bot = "APIKEY"
Discord_GUILD_ID = 888888888888
Discord_CHANNEL_ID = 999999999999
DB_Name="jager"
DB_User="postgres"
DB_Pass="postgres"
DB_Host="localhost"
DB_Port="5432" 
API_KEY = ":))"
API_URL = "https://url/v1/chat/completions"
